footer {
    height: 60px;
    background-color: lightgray;
}

.btns, .txt {
    margin: 10px 10px 0px 10px;
}

footer div:not(:last-child) {
    border-right: 1px solid darkgrey;
    padding-right: 20px;
}
