/* Flex Helpers */

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.direction-col {
    flex-direction: column;
}

.flex-rows {
    flex-direction: row;
}