@import url('helpers.css');
@import url('img.css');
@import url('footer.css');
body {
    background-image: linear-gradient(to right, lightblue, lightgreen);
}

.meme-canvas {
    display: none;
    width: 640px;
    margin: 10px auto;
}